@model AdmissionSystem.View_Model.Department_faculty_view_model

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create</h1>


<hr />
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>
<div class="row  ">
    <div class="col-md-4 content">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            
    @*English*@
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-warning border-warning">@ViewBag.Message</div>
            }
            @if (ViewBag.AddSuccess != null)
            {

                <div class="alert alert-success border-success " role="alert">
                    @ViewBag.AddSuccess
                </div>
            }

            @if (ViewBag.Addfails != null)
            {

                <div class="alert alert-danger border-danger" role="alert" data-toggle="tooltip" data-placement="bottom" title="Because it was added before">

                    @ViewBag.Addfails
                </div>

            }
            @if (ViewBag.sameEdit != null)
            {

                <div class="alert alert-warning border-warning">
                    @ViewBag.sameEdit
                </div>
            }

            @*Arabic*@


            @*@if (ViewBag.MessageArabic != null)
        {
            <div class="alert alert-warning border-warning">@ViewBag.MessageArabic</div>
        }
        @if (ViewBag.AddSuccessArabic != null)
        {

            <div class="alert alert-success border-successArabic " role="alert">
                @ViewBag.AddSuccessArabic
            </div>
        }

        @if (ViewBag.AddfailsArabic != null)
        {

            <div class="alert alert-danger border-danger" role="alert" data-toggle="tooltip" data-placement="bottom" title="Because it was added before">

                @ViewBag.AddfailsArabic
            </div>

        }

                 @if (ViewBag.sameEditArabic != null)
            {

                <div class="alert alert-warning border-warning">
                    @ViewBag.sameEditArabic
                </div>
            }
            *@



            <div class="form-group">
                <h5>Facultes</h5>
                <select asp-for="facultyid" class="form-control" asp-items="@(new SelectList(Model.facultylist,"id","Faculty_name"))"></select>
                <span asp-validation-for="facultyid" class="text-danger"></span>
            </div>



            @*<div class="maindiv ">

            <div class="fields">
                <div class="Fieldset">
                    <input asp-for="specialization_name" class="Before-FS" />
                    <h1 class="FS-H"><span>Facultes</span></h1>
                    <label class="placeholder">Facultes</label>
                </div>
            </div>

        </div>*@






            <div class="form-group ">
                <h5 data-toggle="tooltip" data-placement="bottom" title="specialization like(IT,comunicatio, Arcitict,and so on........)">specialization name</h5>
                <input asp-for="specialization_name" class="form-control" />

                <span asp-validation-for="specialization_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary " />
            </div>
            <div>
                <a asp-action="Index" class="btn btn-secondary ">Back to List</a>
            </div>
        </form>
    </div>
</div>



@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
