@model AdmissionSystem.View_Model.Department_faculty_view_model

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Edit</h1>


<hr />
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>
<div class="row">
    <div class="col-md-4 content">
        <form asp-action="Edit" class=" b">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*English*@

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-dark border-dark">
                    @ViewBag.Message

                </div>
            }
            @if (ViewBag.UpdateSuccess != null)
            {

                <div class="alert alert-success border-success">

                    @ViewBag.UpdateSuccess
                </div>
            }
            @if (ViewBag.sameEdit != null)
            {

                <div class="alert alert-warning border-warning">
                    @ViewBag.sameEdit
                </div>
            }
            @if (ViewBag.updatefails != null)
            {

                <div class="alert alert-danger border-dark">

                    @ViewBag.updatefails
                </div>
            }


            @*Arabic*@


            @*@if (ViewBag.MessageArabic != null)
            {
                <div class="alert alert-dark border-dark">
                    @ViewBag.MessageArabic

                </div>
            }
            @if (ViewBag.UpdateSuccessArabic != null)
            {

                <div class="alert alert-success border-success">

                    @ViewBag.UpdateSuccessArabic
                </div>
            }
            @if (ViewBag.sameEditArabic != null)
            {

                <div class="alert alert-warning border-warning">
                    @ViewBag.sameEditArabic
                </div>
            }
            @if (ViewBag.updatefailsArabic != null)
            {

                <div class="alert alert-danger border-dark">

                    @ViewBag.updatefailsArabic
                </div>
            }*@



            <input type="hidden" asp-for="id" />

            <div class="form-group">
                <label class="control-label"> Faculty name</label>
                <select asp-for="facultyid" class="form-control" asp-items="@(new SelectList(Model.facultylist,"id","Faculty_name"))"></select>
                <span asp-validation-for="facultyid" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="specialization_name" class="control-label"></label>*@
                <label class="control-label"> Specialization name</label>
                <input asp-for="specialization_name" class="form-control" />
                <span asp-validation-for="specialization_name" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
            </div>

            <div class="text-right">
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
