@model IEnumerable<AdmissionSystem.Model.Department>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center active" data-toggle="tooltip" data-placement="bottom" title="It contains specialization like(IT,comunicaatio, Arcitict,and so on........)" >Departments</h1>

@*<h6 class="text-center active">It contains specialization like(IT,comunicaatio, Arcitict,and so on........) </h6>*@
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
               <h5>Spicialization name</h5>
            </th>
            <th>
                <h5>Faculty name</h5>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.specialization_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FK_faculty.Faculty_name)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-outline-dark">Edit</a> 
                @*<a asp-action="Details" asp-route-id="@item.id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


