@model AdmissionSystem.View_Model.UnStudent_View_Model
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Edit";
     Layout = "_StudentLayout";
}

<link href="~/Desighn/3StepsForm.css" rel="stylesheet" />
<link href="~/Desighn/openimage.css" rel="stylesheet" />
<link href="~/Desighn/css_uploading_file.css" rel="stylesheet" />


    @{
        if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
        {
    <h1 hidden id="khaled">khaled</h1>
} 
    else {<h1 hidden id="khaled">nokhaled</h1>
    }
    }
  @if(ViewBag.Erroremessage!=null){<div class="alert alert-danger border-danger" role="alert">
                    @ViewBag.Erroremessage
                </div>
   }
    <form id="regForm" asp-action="Edit" enctype="multipart/form-data" class="ContainerRegForm ">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input hidden asp-for="wish_Department_Id1" value="@Model.wish_Department_Id1"/>
        <input hidden asp-for="wish_Department_Id2"value="@Model.wish_Department_Id2"/>
        <input hidden asp-for="wish_Department_Id3"value="@Model.wish_Department_Id3"/>
        
        <input hidden asp-for="oldType_Of_Certificat" value="@Model.oldType_Of_Certificat"/>
       
   
        <div class="row form-group border-bottom border-warning ">
            <div class="col-11">
                <h2 class="text-warning">@localizer["Registeration"] </h2>
                <label class="text-primary">@Model.Addmition_eleigibilty</label>
            </div>
            <img src="~/Desighn/kalamoon logo.png" width="80" height="90" />
        </div>
        <!-- One "tab" for each step in the form: -->
        <div class="tab">
            <h2 class="alert alert-primary text-center " role="alert">@localizer["family and identity information"] </h2>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="First_Name_AR">@localizer["First Name in Arbic"]</label>
                            <input asp-for="First_Name_AR" class="form-control" />
                            <span asp-validation-for="First_Name_AR" class="text-danger small"></span>
                        </div>

                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Father_Name_AR">@localizer["Father Name in Arabic"]</label>
                            <input asp-for="Father_Name_AR" class="form-control" required />
                            <span asp-validation-for="Father_Name_AR" class="text-danger small"></span>
                        </div>

                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Mother_Name_AR">@localizer["Mother Name in Arabic"]</label>
                            <input asp-for="Mother_Name_AR" class="form-control" />
                            <span asp-validation-for="Mother_Name_AR" class="text-danger small"></span>
                        </div>
                    </div> <div class="col">
                        <div class="form-group">
                            <label asp-for="Grandfather_Name_AR">@localizer["Grand Father name in Arabic"]</label>
                            <input asp-for="Grandfather_Name_AR" class="form-control" />
                            <span asp-validation-for="Grandfather_Name_AR" class="text-danger small"></span>
                        </div>

                    </div>
                </div>
                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            <label asp-for="First_Name_EN">@localizer["First Name in English"]</label>
                            <input asp-for="First_Name_EN" class="form-control" />
                            <span asp-validation-for="First_Name_EN" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Father_Name_EN">@localizer["Father Name in English"]</label>
                            <input asp-for="Father_Name_EN" class="form-control" />
                            <span asp-validation-for="Father_Name_EN" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Mother_Name_EN">@localizer["Mother Name in English"]</label>
                            <input asp-for="Mother_Name_EN" class="form-control" />
                            <span asp-validation-for="Mother_Name_EN" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Grandfather_Name_EN">@localizer["Grand FAther Name in English"]</label>
                            <input asp-for="Grandfather_Name_EN" class="form-control" />
                            <span asp-validation-for="Grandfather_Name_EN" class="text-danger small"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Nick_Name">@localizer["Nick name"] </label>
                            <input required asp-for="Nick_Name" class="form-control" />
                            <span asp-validation-for="Nick_Name" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col">

                        <div class="form-group">
                            <label asp-for="Birth">@localizer["Birth"]</label>
                            <input type="date" asp-for="Birth" class="form-control" />
                            <span asp-validation-for="Birth" class="text-danger small"></span>
                        </div>

                    </div>
                    <div class="col">

                        <div class="form-group">
                            <label asp-for="Nationality">@localizer["Nationality"]</label>
                            <input placeholder="عربي سوري" asp-for="Nationality" class="form-control" />
                            <span asp-validation-for="Nationality" class="text-danger small"></span>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col">


                      @*  <div class="form-group">
                            <div class="form-check-inline">
                                <label asp-for="Marital_status" class="control-label">@localizer["Marital status"]</label><br />
                                <label asp-for="Marital_status" for="abd" >@localizer["Single"]</label>
                                <input type="radio" id="abd"  name="Marital_status" value="Single" asp-for="Marital_status" />
                                <label asp-for="Marital_status" for="abd1" >@localizer["Married"]</label>
                                <input type="radio" id="abd1"  name="Marital_status" value="Married" asp-for="Marital_status" />
                                <label asp-for="Marital_status" for="abd2" >@localizer["Widowed"]</label>
                                <input type="radio" id="abd2"  name="Marital_status" value="Widowed" asp-for="Marital_status" />
                                <label asp-for="Marital_status" for="abd3" >@localizer["Divorced"]</label>
                                <input type="radio" id="abd3"  name="Marital_status" value="Divorced" asp-for="Marital_status" />
                                <span asp-validation-for="Marital_status" class="text-danger"></span>

                            </div>
                        </div>*@
                           </div>

                    <div class="col">
                      
                        
                    </div>

                </div>

            </div>

        </div>






        <div class="tab">
            <h2 class="alert alert-primary text-center " role="alert">@localizer["family and identity information"] </h2>
            <div class="container">
                
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Passport_No" class="control-label">@localizer["Passport No"]</label>
                            <input asp-for="Passport_No" class="form-control"  />
                            <span asp-validation-for="Passport_No" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Identity_No" class="control-label">@localizer["Identity No"]</label>
                            <input asp-for="Identity_No" class="form-control"  />
                            <span asp-validation-for="Identity_No" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col">
                         <div class="form-group">
                            <label asp-for="Email" class="control-label">@localizer["Email"]</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger small"></span>
                        </div>
                       
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                         <div class="form-group">
                            <label asp-for="Full_Address" class="control-label">@localizer["Full Address"]</label>
                            <input placeholder="حمص الإنشائات شارع الوفائي" asp-for="Full_Address" class="form-control" />
                            <span asp-validation-for="Full_Address" class="text-danger small"></span>
                        </div>
                       
                    </div>
                    <div class="col">

                        <div class="form-group">
                            <label asp-for="Current_Address" class="control-label">@localizer["Current Address"]</label>
                            <input placeholder="حمص الإنشائات" asp-for="Current_Address" class="form-control" />
                            <span asp-validation-for="Current_Address" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col">
                         <div class="form-group">
                            <label asp-for="Civil_Registrition_No" class="control-label">@localizer["Civil Registrition No"]</label>
                            <input asp-for="Civil_Registrition_No" class="form-control" />
                            <span asp-validation-for="Civil_Registrition_No" class="text-danger small"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">

                        <div class="form-group">
                            <label asp-for="Home_s_Phone" class="control-label">@localizer["Home Phone"]</label>
                            <input asp-for="Home_s_Phone" class="form-control" />
                            <span asp-validation-for="Home_s_Phone" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Mobile_Phone" class="control-label">@localizer["Mobile Phone"]</label>
                            <input asp-for="Mobile_Phone" class="form-control" />
                            <span asp-validation-for="Mobile_Phone" class="text-danger small" ></span>
                        </div>
                       
                    </div>
                    <div class="col">
                      
                        <div class="form-group">
                            <label asp-for="Civil_Registriation_City" class="control-label">@localizer["Civil Registriation City"]</label>
                            <input placeholder="حمص الحميدية" asp-for="Civil_Registriation_City" class="form-control" />
                            <span asp-validation-for="Civil_Registriation_City" class="text-danger small"></span>
                        </div>
                    </div>
                </div><div class="row">

                    <div class="col-6">
                         <label asp-for="Marital_status" class="control-label">@localizer["Marital status"]</label>
                         <div class="btn-group btn-group-toggle" data-toggle="buttons">
                         <label for="Marital_status1"  asp-for="Marital_status" class="btn btn-outline-primary">
                         <input asp-for="Marital_status" type="radio" name="Marital_status" id="Marital_status1" value="Single" autocomplete="off" > @localizer["Single"]
                        </label>
                         <label for="Marital_status2"  asp-for="Marital_status" class="btn btn-outline-primary">
                         <input asp-for="Marital_status" type="radio" name="Marital_status" id="Marital_status2" value="Married" autocomplete="off"> @localizer["Married"]
                        </label>
                         <label for="Marital_status3"  asp-for="Marital_status" class="btn btn-outline-primary">
                         <input asp-for="Marital_status" type="radio" name="Marital_status" id="Marital_status3" value="Widowed" autocomplete="off" > @localizer["Widowed"]
                        </label>
                         <label for="Marital_status4"  asp-for="Marital_status" class="btn btn-outline-primary">
                         <input asp-for="Marital_status" type="radio" name="Marital_status" id="Marital_status4" value="Divorced" autocomplete="off" > @localizer["Divorced"]
                        </label>
                        </div>
                        <br>
                         <span asp-validation-for="Marital_status" class="text-danger small"></span>
                   


                    </div>
                    <div class="col-6">
                         <label asp-for="gender" class="control-label">@localizer["gender"]</label>
                         <div class="btn-group btn-group-toggle" data-toggle="buttons">
                         <label   asp-for="gender" class="btn btn-outline-primary">
                         <input asp-for="gender" type="radio" name="gender" id="option1" value="male" autocomplete="off" spellcheck="true"> Male
                        </label>
                         <label asp-for="gender"  class="btn btn-outline-primary">
                         <input asp-for="gender" type="radio" name="gender" id="option2" value="femal" autocomplete="off">Femal
                        </label>
                        </div>
                        <br>
                       <span asp-validation-for="gender" class="text-danger small"></span>
                       
                    </div>
                </div>

            </div>
        </div>

        <div class="tab">
            <h2 class="alert alert-primary text-center " role="alert">@localizer["informaion part 2"] </h2>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="high_school_certificate" class="control-label">@localizer["high school certificate"]</label>
                            <input readonly asp-for="high_school_certificate" class="form-control" value="UNSyrian" />
                            <span asp-validation-for="high_school_certificate" class="text-danger small"></span>
                        </div>
                    </div>
                   @* <div class="col">
                        <div class="form-group">
                            <label asp-for="The_Rate" class="control-label">@localizer["the Rate"]</label>
                            <input  asp-for="The_Rate" class="form-control" />
                            <span asp-validation-for="The_Rate" class="text-danger small"></span>
                        </div>
                                
                    </div>*@
                    
                </div> <div class="row">
                    <div class="col">
                         <div class="form-group">
                            <label asp-for="Type_Of_Certificat" class="control-label">@localizer["Type Of Certificat"]</label>
                            <select asp-for="Type_Of_Certificat" class="form-control" asp-items="@(new SelectList(Model.Type_Of_certificate_list, "id", "type"))"></select>
                            <span asp-validation-for="Type_Of_Certificat" class="text-danger small"></span>
                        </div>
                          
                    </div>
                    <div class="col">
                       
                        <div class="form-group">
                            <label asp-for="date_of_high_school_cirtificate" class="control-label">@localizer["Date of High School Cirtificate"]</label>
                            <input type="date" asp-for="date_of_high_school_cirtificate" class="form-control"/>
                            <span asp-validation-for="date_of_high_school_cirtificate" class="text-danger small"></span>
                        </div>

                    </div>
                   
                </div> 
                <div class="row">
                     <div class="col">
                          <div class="form-group">
                            <label asp-for="country" class="control-label">@localizer["Country of Certificate"]</label>
                            <select  asp-for="country" class="form-control"  asp-items="@(new SelectList(Model.CountryList,"id","country_name"))"></select>
                            @*<input hidden asp-for="country" class="form-control"  value=@Model.CountryList[0].id/>*@
                            <span asp-validation-for="country" class="text-danger small"></span>
                        </div>
                          
                    </div>
                    <div class="col">
                       
                           <div class="form-group">
                            <label asp-for="city_of_high_school_cirtificate" class="control-label">@localizer["City of High School Cirtificate"]</label>
                            <input asp-for="city_of_high_school_cirtificate" class="form-control" />
                            <span asp-validation-for="city_of_high_school_cirtificate" class="text-danger small"></span>
                        </div>
                       
                    </div>
                </div>
               
              
              
            </div>
        </div>
       @* this script to hide images template that is transparent and has 4 edge
      *@  @{
         @if (Model.Image_of_crtificat_URL!=null)
         {<h1 hidden id="hideornot">hidechoos</h1>
           
          }else{<h1 hidden  id="hideornot">hideimage</h1>}
                
        }
        @if(Model.check_recipt_image!=null)
    {
               <h1 hidden id="images_file" >fill_image</h1>        
    }
    <div class="tab">
            <h2 class="alert alert-primary text-center " role="alert">@localizer["Uploading file"] </h2>
            <div class="container">
                 <div class="row">
                    <div class="col ">
                       
                 
                    <div class="bodyboximag">
                  <!-- Upload Area -->
<div id="uploadArea" class="upload-area">
    <!-- Header -->
    <div class="upload-area__header">
      <h1 class="upload-area__title" >@localizer["Image Of Crtificat"]</h1>
       <label asp-for="Image_Of_Crtificat" class="control-label">Upload your file here</label>
                         
      <p class="upload-area__paragraph">
        File should be an image
        <strong class="upload-area__tooltip">
          Like
          <span class="upload-area__tooltip-data"></span> <!-- Data Will be Comes From Js -->
        </strong>
      </p>
    </div>
    <button type="button" class="ButtonToggel btn btn-primary" onclick="myfunction();">change the image</button>
    <!-- End Header --><br>
    <br>
  <div  class="TheImage">
                             <img id="myImg4" src="~/Uploads/@Model.Image_of_crtificat_URL" class="rounded" style="object-fit: contain;width:300px;height:150px" />
                       
                                                                           <!-- The Modal -->
                                                                           <div id="myModal4" class="modal ">
                                                                           <span class="close4 ">&times;</span>
                                                                           <img class="modal-content" id="img014">
                                                                           <div id="caption4"></div>
                                                                           </div>
                                                                           </div>
                                                                           <input id="Image_of_crtificat_URL" type="hidden" asp-for="Image_of_crtificat_URL" class="form-control" value="@Model.Image_of_crtificat_URL"/>
                                                                                 
    <!-- Drop Zoon --><div class="ChooseImage">
    <div id="dropZoon" class="upload-area__drop-zoon drop-zoon">
      <span class="drop-zoon__icon">
        <i class='bx bxs-file-image'></i>
      </span>
      <p class="drop-zoon__paragraph">Drop your file here or Click to browse</p>
      <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
         <img src="" alt="Preview Image" id="previewImage" class="drop-zoon__preview-image" draggable="false">
                               @* @if (Model.Image_of_crtificat_URL!="")
                                {
                                    <img src="~/Uploads/@Model.Image_of_crtificat_URL" alt="Preview Image" id="previewImage" class="drop-zoon__preview-image" draggable="false">
                                }
                                else
                                {
                                   <img src="" alt="Preview Image" id="previewImage" class="drop-zoon__preview-image" draggable="false">
       
                                }
*@
         
     
      <input type="file" id="fileInput" onchange="    showbar1();" onclick="    hideimageandbar1();" name="Image_Of_Crtificat" asp-for="Image_Of_Crtificat" class="drop-zoon__file-input" accept="image/*">
    </div>
    <!-- End Drop Zoon -->
  
    <!-- File Details --><div class="hide_bar1">
    <div id="fileDetails" class="upload-area__file-details file-details">
      <h3 class="file-details__title">Uploaded File</h3>
  
      <div id="uploadedFile" class="uploaded-file">
        <div class="uploaded-file__icon-container">
          <i class='bx bxs-file-blank uploaded-file__icon'></i>
          <span class="uploaded-file__icon-text"></span> <!-- Data Will be Comes From Js -->
        </div>
  
        <div id="uploadedFileInfo" class="uploaded-file__info">
          <span class="uploaded-file__name">Proejct 1</span>
          <span class="uploaded-file__counter">0%</span>
        </div>
      </div>
    </div>
    </div>
    </div>
    <!-- End File Details -->
  </div>
  <!-- End Upload Area -->
</div>

     <span asp-validation-for="Image_Of_Crtificat" class="text-danger"></span>
                      
                    </div>
                    <div class="col ">
                         




                    
<div class="bodyboximag">



    <!-- Upload Area -->
<div id="uploadArea2" class="upload-area">
    <!-- Header -->
    <div class="upload-area__header">
      <h1 class="upload-area__title">@localizer["Identity front image"]</h1>
         <label asp-for="Identity_front_image" class="control-label">Upload your file here</label>
                         
      <p class="upload-area__paragraph">
        File should be an image
        <strong class="upload-area__tooltip">
          Like
          <span class="upload-area__tooltip-data2"></span> <!-- Data Will be Comes From Js -->
        </strong>
      </p>
    </div>
    <!-- End Header --><button type="button" class="ButtonToggel2  btn btn-primary" onclick="myfunction2();">change the image</button><br><br>
                                                     <div class="TheImage2"> <img  id="myImg" src="~/Uploads/@Model.Identity_front_image_URL" class="rounded" style="object-fit: contain;width:300px;height:150px">

                                                                                                <!-- The Modal -->
                                                                                                <div id="myModal" class="modal">
                                                                                                  <span class="close">&times;</span>
                                                                                                  <img class="modal-content" id="img01">
                                                                                                  <div id="caption"></div>
                                                                                                </div>
                               
                        <input type="hidden" id="Identity_front_image_URL" asp-for="Identity_front_image_URL" class="form-control" value="@Model.Identity_front_image_URL"/>
                        </div> 
    <!-- Drop Zoon --><div class="ChooseImage2">
    <div id="dropZoon2" class="upload-area__drop-zoon drop-zoon">
      <span class="drop-zoon__icon">
        <i class='bx bxs-file-image'></i>
      </span>
      <p class="drop-zoon__paragraph">Drop your file here or Click to browse</p>
      <span id="loadingText2" class="drop-zoon__loading-text">Please Wait</span>
      <img src="" alt="Preview Image" id="previewImage2" class="drop-zoon__preview-image" draggable="false">
      <input type="file" id="fileInput2" onchange="    showbar2();" onclick="    hideimageandbar2();" name="Identity_front_image" asp-for="Identity_front_image" class="drop-zoon__file-input" accept="image/*">
    </div>
    <!-- End Drop Zoon -->
  </div>
    <!-- File Details --><div class="hide_bar2">
    <div id="fileDetails2" class="upload-area__file-details file-details">
      <h3 class="file-details__title">Uploaded File</h3>
  
      <div id="uploadedFile2" class="uploaded-file">
        <div class="uploaded-file__icon-container">
          <i class='bx bxs-file-blank uploaded-file__icon'></i>
          <span class="uploaded-file__icon-text"></span> <!-- Data Will be Comes From Js -->
        </div>
  
        <div id="uploadedFileInfo2" class="uploaded-file__info2">
          <span class="uploaded-file__name2">Proejct 1</span>
          <span class="uploaded-file__counter2">0%</span>
        </div>
      </div>
    </div>
    </div>
    <!-- End File Details -->
  </div>
  <!-- End Upload Area -->
</div>



     <span asp-validation-for="Identity_front_image" class="text-danger"></span>
                      
                    </div>
                    
                </div> 
                <br>
                <div class="row ">
                    <div class="col ">

                      @*  <div class="form-group">
                            <label asp-for="Identity_back_image" class="control-label">@localizer["Identity back image"]</label>
                            <input  type="file" name="Identity_back_image" onchange="readURL3(this);" asp-for="Identity_back_image" class="form-control-file" />
                            <span asp-validation-for="Identity_back_image" class="text-danger"></span>
                        </div>*@
                      @*  <div class="controling3">
                       
                               
                                                                                                                             <div class="TheImage3">    <img id="myImg2"  src="~/Uploads/@Model.Identity_back_image_URL" class="rounded" style="object-fit: contain;width:150px;height:150px"/>
                           
                                
                                                                                                                                                    <!-- The Modal -->
                                                                                                                                                    <div id="myModal2" class="modal">
                                                                                                                                                      <span class="close2">&times;</span>
                                                                                                                                                      <img class="modal-content" id="img012">
                                                                                                                                                      <div id="caption2"></div>
                                                                                                                                                    </div>
                        <input type="hidden" asp-for="Identity_back_image_URL" class="form-control" />
                        </div> 
                    </div>*@


                    
    <div class="bodyboximag">
        <!-- Upload Area -->
<div id="uploadArea3" class="upload-area">
    <!-- Header -->
    <div class="upload-area__header">
      <h1 class="upload-area__title">@localizer["Identity back image"]</h1>
        <label asp-for="Identity_back_image" class="control-label">Upload your file here</label>       
    
      <p class="upload-area__paragraph">
        File should be an image
        <strong class="upload-area__tooltip">
          Like
          <span class="upload-area__tooltip-data3"></span> <!-- Data Will be Comes From Js -->
        </strong>
      </p>
    </div>
    <!-- End Header --><button type="button" class="ButtonToggel3  btn btn-primary" onclick="myfunction3();">change the image</button><br><br>
       <div class="TheImage3">    <img id="myImg2"  src="~/Uploads/@Model.Identity_back_image_URL" class="rounded" style="object-fit: contain;width:300px;height:150px"/>
                           
                                
                                                                                                                                                    <!-- The Modal -->
                                                                                                                                                    <div id="myModal2" class="modal">
                                                                                                                                                      <span class="close2">&times;</span>
                                                                                                                                                      <img class="modal-content" id="img012">
                                                                                                                                                      <div id="caption2"></div>
                                                                                                                                                    </div>


                        <input type="hidden" id="Identity_back_image_URL" asp-for="Identity_back_image_URL" class="form-control" value="@Model.Identity_back_image_URL" />
                        </div> 
    <!-- Drop Zoon --><div class="ChooseImage3">
    <div id="dropZoon3" class="upload-area__drop-zoon drop-zoon">
      <span class="drop-zoon__icon">
        <i class='bx bxs-file-image'></i>
      </span>
      <p class="drop-zoon__paragraph">Drop your file here or Click to browse</p>
      <span id="loadingText3" class="drop-zoon__loading-text">Please Wait</span>
         <img src="" alt="Preview Image" id="previewImage3"  class="drop-zoon__preview-image" draggable="false">
      <input type="file" id="fileInput3" onchange="    showbar3();" onclick="    hideimageandbar3();"  name="Identity_back_image" asp-for="Identity_back_image"  class="drop-zoon__file-input" accept="image/*">
    </div>
    <!-- End Drop Zoon -->
  
    <!-- File Details --><div class="hide_bar3">
    <div id="fileDetails3" class="upload-area__file-details file-details">
      <h3 class="file-details__title">Uploaded File</h3>
  
      <div id="uploadedFile3" class="uploaded-file">
        <div class="uploaded-file__icon-container">
          <i class='bx bxs-file-blank uploaded-file__icon'></i>
          <span class="uploaded-file__icon-text"></span> <!-- Data Will be Comes From Js -->
        </div>
  
        <div id="uploadedFileInfo3" class="uploaded-file__info2">
          <span class="uploaded-file__name3">Proejct 1</span>
          <span class="uploaded-file__counter3">0%</span>
        </div>
      </div>
    </div>
    </div>
    </div>
    <!-- End File Details -->
  </div>
  <!-- End Upload Area -->
</div>








     <span asp-validation-for="Identity_back_image" class="text-danger"></span>
                      
                    </div>

                    <div class="col ">
                       @* <div class="form-group">
                            <label asp-for="check_recipt_image" class="control-label">@localizer["check recipt image"]</label>
                            <input type="file" onchange="readURL4(this);" name="check_recipt_image" asp-for="check_recipt_image" class="form-control-file" />
                            <span asp-validation-for="check_recipt_image" class="text-danger"></span>
                        </div>*@
                       
                       
                            
                                                                                                                                
                    

    <div class="bodyboximag">
        
<!-- Upload Area -->
<div id="uploadArea4" class="upload-area">
  <!-- Header -->
  <div class="upload-area__header">
    <h1 class="upload-area__title">@localizer["check recipt image"]</h1>
      <label asp-for="check_recipt_image" class="control-label">Upload your file here</label>          
    <p class="upload-area__paragraph">
      File should be an image
      <strong class="upload-area__tooltip">
        Like
        <span class="upload-area__tooltip-data4"></span> <!-- Data Will be Comes From Js -->
      </strong>
    </p>
  </div>
  <!-- End Header --><button type="button" class="ButtonToggel4  btn btn-primary" onclick="myfunction4();">change the image</button><br><br>
       <div class="TheImage3"> <img id="myImg3" src="~/Uploads/@Model.Check_recipt_image_URL" style="object-fit: contain;width:300px;height:150px" />
                            
                                                                                                                                                    <!-- The Modal -->
                                                                                                                                                    <div id="myModal3" class="modal">
                                                                                                                                                      <span class="close3">&times;</span>
                                                                                                                                                      <img class="modal-content" id="img013">
                                                                                                                                                      <div id="caption3"></div>
                                                                                                                                                    </div>
           
                                
                                                                                                                               <input type="hidden" id="Check_recipt_image_URL" asp-for="Check_recipt_image_URL"width="300" height="200" value="@Model.Check_recipt_image_URL" />
                                                                                                                               </div>

  <!-- Drop Zoon --><div class="ChooseImage4">
  <div id="dropZoon4" class="upload-area__drop-zoon drop-zoon">
    <span class="drop-zoon__icon">
      <i class='bx bxs-file-image'></i>
    </span>
    <p class="drop-zoon__paragraph">Drop your file here or Click to browse</p>
    <span id="loadingText4" class="drop-zoon__loading-text">Please Wait</span>
    <img src="" alt="Preview Image" id="previewImage4" class="drop-zoon__preview-image" draggable="false">
    <input type="file" id="fileInput4" onchange="    showbar4();" onclick="    hideimageandbar4();"  name="check_recipt_image" asp-for="check_recipt_image" class="drop-zoon__file-input" accept="image/*">
  </div>
  <!-- End Drop Zoon -->
  
  <!-- File Details --><div class="hide_bar4">
  <div id="fileDetails4" class="upload-area__file-details file-details">
    <h3 class="file-details__title">Uploaded File</h3>

    <div id="uploadedFile4" class="uploaded-file">
      <div class="uploaded-file__icon-container">
        <i class='bx bxs-file-blank uploaded-file__icon'></i>
        <span class="uploaded-file__icon-text"></span> <!-- Data Will be Comes From Js -->
      </div>

      <div id="uploadedFileInfo4" class="uploaded-file__info4">
        <span class="uploaded-file__name4">Proejct 1</span>
        <span class="uploaded-file__counter4">0%</span>
      </div>
    </div>
  </div></div>
  </div>
  <!-- End File Details -->
</div>
<!-- End Upload Area -->
</div>
     <span asp-validation-for="check_recipt_image" class="text-danger"></span>
                      
                    </div>

                </div>
            </div>
        </div>

        <div style="overflow:auto;">
            <div style="float:right;">
                <br>
                <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="btn btn-primary position-relative">@localizer["Previous"]</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)" class="btn btn-primary position-relative">@localizer["Next"]</button>
            </div>
        </div>

        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>

    </form>
    
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

<script src="~/limonte-sweetalert2/sweetalert2.all.js"></script>
<script src="~/Desighn/openimage.js"></script>
<script src="~/Desighn/javasc_uploading_file.js"></script>
<script src="~/Desighn/javasc2_uploading_file.js"></script>
<script src="~/Desighn/javasc3_uploading_file.js"></script>
<script src="~/Desighn/javasc4_uploading_file.js"></script>
<script src="~/Desighn/hide_show.js"></script>
<script src="~/Desighn/TestREchoosingPhoto.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); 
    }}
   <script>
function sumbitfunction(){
    //document.getElementById("requireed2").value = document.getElementById("requireed1").value;
    document.getElementById("requireed").type = "submit";
 document.getElementById("requireed").submit();
}
   </script>
<script>
window.onload = function() {
        if (document.getElementById("hideornot").textContent == "hidechoos") 
    {//document.getElementById("hideornot").textContent = "hi it is me";
     document.getElementsByClassName("ChooseImage")[0].hidden = true;
      document.getElementsByClassName("ChooseImage2")[0].hidden = true;
        document.getElementsByClassName("ChooseImage3")[0].hidden = true;
         document.getElementsByClassName("ChooseImage4")[0].hidden = true;
    }
    if (document.getElementById("hideornot").textContent == "hideimage") 
    {   //document.getElementById("hideornot").textContent = "hi it is";
        document.getElementById("myImg4").hidden = true;
        document.getElementsByClassName("ButtonToggel")[0].hidden = true;
        document.getElementById("myImg").hidden = true;
        document.getElementsByClassName("ButtonToggel2")[0].hidden = true;
            document.getElementById("myImg2").hidden = true;
        document.getElementsByClassName("ButtonToggel3")[0].hidden = true;
        document.getElementById("myImg3").hidden = true;
        document.getElementsByClassName("ButtonToggel4")[0].hidden = true;
    
    }
   }
 </script>
  
    <script>  
  //window.onload= function() {
  //    if (document.getElementById("hideornot").textContent == "hide") 
  //    {
  //         document.getElementsByClassName("controling1")[0].style.visibility = 'hidden';
  //         document.getElementsByClassName("controling2")[0].style.visibility = 'hidden';
  //         document.getElementsByClassName("controling3")[0].style.visibility = 'hidden';
  //         document.getElementsByClassName("controling4")[0].style.visibility = 'hidden';
  //}</script>
    <script>
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form ...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  // ... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
    if (n == (x.length - 1)) {
        if (document.getElementById("khaled").textContent == "khaled") {
            document.getElementById("nextBtn").innerHTML = "تسليم";
            //me document.getElementById("nextBtn").type = "submit";
        } else {
            document.getElementById("nextBtn").innerHTML = "Submit";
            //me document.getElementById("nextBtn").type = "submit";
 }
  }
  else {
      if (document.getElementById("khaled").textContent == "khaled") {
          document.getElementById("nextBtn").innerHTML = "التالي";
      } else {
          document.getElementById("nextBtn").innerHTML = "Next";
      }
       
  }
  // ... and run a function that displays the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  //if (n == 1 && !validateForm()) return false;
  //// Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
    currentTab = currentTab + n;
    $('html, body').animate({ scrollTop: 70 }, 'slow');
  // if you have reached the end of the form... :
  if (currentTab >= x.length) {
    //...the form gets submitted:
      if (document.getElementById("Image_of_crtificat_URL").value == "" &&
          document.getElementById("Identity_front_image_URL").value == "" &&
          document.getElementById("Identity_back_image_URL").value == "" &&
          document.getElementById("Check_recipt_image_URL").value == "") {
          if (document.getElementById("fileInput").value != '' &&
              document.getElementById("fileInput2").value != '' &&
              document.getElementById("fileInput3").value != '' &&
              document.getElementById("fileInput4").value != '') {
              if (SimilarImageTest('fileInput', 'fileInput2', 'fileInput3', 'fileInput4') == 1 &&
                  SimilarImageTest('fileInput2', 'fileInput', 'fileInput3', 'fileInput4') == 1 &&
                  SimilarImageTest('fileInput3', 'fileInput', 'fileInput2', 'fileInput4') == 1 &&
                  SimilarImageTest('fileInput4', 'fileInput', 'fileInput2', 'fileInput3') == 1) {
                  document.getElementById("regForm").submit();

              } else {
                   currentTab = currentTab - 1;
              Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'you have choosed similar image',

              })
              }
              }

          else {
              currentTab = currentTab - 1;
              Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'you have to choose and fill all images....this else from big if',

              })

          }

      } else if (document.getElementById("Image_of_crtificat_URL").value != "" &&
          document.getElementById("Identity_front_image_URL").value != "" &&
          document.getElementById("Identity_back_image_URL").value != "" &&
          document.getElementById("Check_recipt_image_URL").value != "") 
          {
          if (SimilarImageTest3('fileInput', 'fileInput2', 'fileInput3', 'fileInput4') == 1 &&
              SimilarImageTest3('fileInput2', 'fileInput', 'fileInput3', 'fileInput4') == 1 &&
              SimilarImageTest3('fileInput3', 'fileInput', 'fileInput2', 'fileInput4') == 1 &&
              SimilarImageTest3('fileInput4', 'fileInput', 'fileInput2', 'fileInput3') == 1) {

              document.getElementById("regForm").submit();

          }
          else {
               currentTab = currentTab - 1;
          Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: 'you rechoosed a similar image',
 
})

          }
          }
      else {
          currentTab = currentTab - 1;
          Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: 'make sure that you choosed all images...this is big else',
 
})
         
      }
     //showTab(currentTab-1);
    //document.getElementById("regForm").submit();
    //return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false:
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class to the current step:
  x[n].className += " active";
}
let result=0;
function SimilarImageTest(x,y,z,d){

    
    if(document.getElementById(x).files[0].size!=document.getElementById(y).files[0].size&&
        document.getElementById(x).files[0].size!=document.getElementById(z).files[0].size&&
        document.getElementById(x).files[0].size!=document.getElementById(d).files[0].size){
        result=1;
       
    }else{
         
    result=0;
}     
       
  return result;
  
}
//let results=1;
//function SimilarImageTest2(x,y,z,d){

//    if(document.getElementById(x).value!=''){
//    if(document.getElementById(x).value!=document.getElementById(y).value&&
//        document.getElementById(x).value!=document.getElementById(z).value&&
//        document.getElementById(x).value!=document.getElementById(d).value){
//        results=1;
       
//    }else{
       
//    results=0;
//}     
//    }else if(document.getElementById(x).value=='')
//    {
        
//        results=1;
//    }
       
//  return results;
//}
    </script>


