@model AdmissionSystem.View_Model.UnStudent_View_Model
@using System.Globalization

@inject IViewLocalizer localizer
@using Microsoft.AspNetCore.Mvc.Localization
@{Layout="_StudentLayout";}
<link rel="stylesheet" href="~/Desighn/Home.css"/>


<input hidden  id="confirmation_value" value="@Model.Conformation"/>
  <input hidden id="wish_value" value="@Model.wish_Department_Id1"/>
   <input hidden id="Rate" value="@Model.The_Rate"/>
   <input hidden id="front_image" value="@Model.Identity_front_image_URL"/>



<div  hidden  class="ContainerRegForm" id="confirmation_part"  >
    <img src="~/Desighn/Warning image.webp" class="img-fluid float-right" style="width:40%;height:40%;"/>
   <br>  <h1>@localizer["Welcome"] @Model.First_Name_EN 👋</h1>
    <br> <h5 class="">@localizer["We noted that you did not make a confiramtion for your addmission request, pleas make a conferm or your data will be ignored."]  </h5>    
 <br> <br> 
  <b>@localizer["Note"]</b>
      <p>
  @localizer["when you make the confirmation we considre that you have reivewed all your personal information and your uploded files, so pleas make sure that all is correct."]  </p>
   <p><b>@localizer["You will not be able to edit any more"]</b></p>
    <form asp-action="Details" id="SubmitForm" >
     <input hidden asp-for="id" value="@Model.id"/>
   <input  hidden id="conformation" asp-for="Conformation"/>
   </form>
<button type="button"  onclick="    submitfunction();" class="btn btn-danger shinbutton">@localizer["Confirme The Request"]</button>
<br>
<br>

</div>



<div  hidden class="ContainerRegForm" id="checking_part">
    <img  src="~/Desighn/paper_testing.jpg" class="img-fluid float-right" style="width:40%;height:40%;"/>
    <br> <h1>@localizer["Welcome"] @Model.First_Name_EN 👋</h1>
    <br> <h5 class="">@localizer["Thank you for completing all requists."]<br>@localizer["Our team will check your files and in nearest time, you will recive an email from the team tell to log in and choose your wishes."]  </h5>    
 <br> <br> <br><br><br>
  <b>@localizer["Note"]</b>
   <p class="text-primary">@localizer["stay tuned to your Email"]</p>
    
@*<button type="button"  onclick="    submitfunction();" class="btn btn-danger shinbutton">Confirme The Request</button>*@
</div>
<div  hidden style="background: #f8f9ff;" class="ContainerRegForm" id="waiting_result">
    <img  src="~/Desighn/waiting_charecter.gif" class="img-fluid float-right" style="width:40%;height:40%;"/>
   <br> <h1>@localizer["Welcome"] @Model.First_Name_EN 👋</h1>
    <br> <h5 class="">@localizer["Thank you for completing all the requists.<br>please wait for results to be released."] </h5>    
 <br> <br> <br><br><br>
  <b>@localizer["Note"]</b>
   <p class="text-primary">@localizer["stay tuned to your Email"]</p>
    
@*<button type="button"  onclick="    submitfunction();" class="btn btn-danger shinbutton">Confirme The Request</button>*@
<br>
<br>

</div>

 
<div  hidden class="ContainerRegForm" id="ReEdit_part">
    <img src="~/Desighn/Warning image.webp" class="img-fluid float-right" style="width:40%;height:40%;"/>
   <br>   <h1>@localizer["Welcome"] @Model.First_Name_EN 👋</h1>
    <br> <h5 class="">@localizer["your rate is scaled to"] <b class="text-danger">@Model.The_Rate</b>@localizer["out of 2400."] </h5>
    <p style="font-size:85%;" class="font-italic text-secondary"><b>@localizer["the scaler intrduced by the Ministry of Higher Education Standards."]</b></p>
 <br> <br> <br> <br> <br> <br>
   <h5 >@localizer["Pleas Choose the wishes you want."]</h5>
      <a class="btn btn-primary shinbutton" asp-action="WishesSelection" asp-route-id=@Model.id >@localizer["My wishes"]</a>
  <br>
<br>

  </div> 

   
<div hidden  class="ContainerRegForm" id="ReEdit_noeditwish_part">
    <img src="~/Desighn/Warning image.webp" class="img-fluid float-right" style="width:40%;height:40%;"/>
   <br>   <h1>@localizer["Welcome"] @Model.First_Name_EN 👋</h1>
    <br> <h5 class="">@localizer["Our team discovered that you need to edit your data and reshoose for wishes list, pleas check your Email about what to edit ."]</h5>    
 <br> <br> <br> <br> <br> <br>
   
      <a class="btn btn-primary shinbutton" asp-action="Edit" asp-route-id=@Model.id >@localizer["Edit"]</a>
   </div> 

 <div hidden class="ContainerRegForm" id="confirm_edit">
     <h5>@localizer["pleas confirm after Edting"] </h5>
      <form asp-action="Details" id="SubmitForm" >
     <input hidden asp-for="id" value="@Model.id"/>
   <input  hidden id="conformation" asp-for="Conformation"/>
   </form>
<button type="button"  onclick="    submitfunction();" class="btn btn-danger shinbutton">@localizer["Confirme"] </button>
     </div>
           
  <div hidden id="nowishes" class="ContainerRegForm">
      <h2 class="alert alert-primary text-center " role="alert">there are no wishes to choose plese be sure of the rate</h2>
      
  </div>
 
@*
<script src="~/aos/aos.js"></script>*@
<script src="~/limonte-sweetalert2/sweetalert2.all.js"></script>
<script>
window.onload = function() {
     
    if (document.getElementById("confirmation_value").value == '0' && !document.getElementById("front_image").value) {
       
    }
    else if (document.getElementById("confirmation_value").value == '0' && document.getElementById("front_image").value) {
        document.getElementById("confirmation_part").hidden = false;
        document.getElementById("first").hidden = false;
         document.getElementById("secound").hidden = false;
         document.getElementById("third").hidden = false;
    } else if (document.getElementById("confirmation_value").value == '1' && document.getElementById("front_image").value && document.getElementById("wish_value").value == '') {
        document.getElementById("checking_part").hidden = false;
        document.getElementById("first").hidden = false;
         document.getElementById("secound").hidden = false;
    } else if (document.getElementById("confirmation_value").value == '1' && document.getElementById("front_image").value && document.getElementById("wish_value").value != '') {
        document.getElementById("waiting_result").hidden = false;
        document.getElementById("first").hidden = false;
         document.getElementById("secound").hidden = false;
    }
    else if (document.getElementById("confirmation_value").value == '2' && document.getElementById("front_image").value && document.getElementById("wish_value").value == '') {
        document.getElementById("ReEdit_part").hidden = false;
        document.getElementById("first").hidden = false;
         document.getElementById("secound").hidden = false;
         document.getElementById("forth").hidden = false;
    } else if (document.getElementById("confirmation_value").value == '2' && document.getElementById("front_image").value && document.getElementById("wish_value").value != '') {
        document.getElementById("confirmation_part").hidden = false;
        document.getElementById("first").hidden = false;
         document.getElementById("secound").hidden = false;
         document.getElementById("forth").hidden = false;
    } else if (document.getElementById("confirmation_value").value == '3' && document.getElementById("front_image").value) {
        document.getElementById("ReEdit_noeditwish_part").hidden = false;
        document.getElementById("first").hidden = false;
         document.getElementById("secound").hidden = false;
         document.getElementById("third").hidden = false;
    }
    
}
</script>

<script>
   

function submitfunction() { 
    const swalWithBootstrapButtons = Swal.mixin({
  customClass: {
    confirmButton: 'btn btn-success',
    cancelButton: 'btn btn-danger'
  },
  buttonsStyling: false
})

swalWithBootstrapButtons.fire({
  title:'هل أنت متأكد من تثبيت الطلب ؟',
  text: "لن تستطيع التعديل على بياناتك مرة أخرى",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonText: 'نعم, تأكيد',
  cancelButtonText: 'إلغاء',
  reverseButtons: true
}).then((result) => {
  if (result.isConfirmed) {
    swalWithBootstrapButtons.fire(
     'Deleted!',
      'تم التثبيت بنجاح',
      'success'
    )
     document.getElementById("conformation").value  = '1';
      document.getElementById("SubmitForm").submit();
  } else if (
    /* Read more about handling dismissals below */
    result.dismiss === Swal.DismissReason.cancel
  ) {
    swalWithBootstrapButtons.fire(
      'الغاء',
      'دون التثبيت لن يتم مراجعة طلبكم',
      'error'
    )
     document.getElementById("conformation").checked = false;
  }
})

   
}
</script>
