@model AdmissionSystem.View_Model.percentage_count_for_each_country_view_model
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout_For_Admin_Dashboard.cshtml";
}

<h1 class=" text-center">@localizer["Create percentage count for each country"]</h1>

@*<h4>percentage_count_for_each_country_view_model</h4>*@
<hr />
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>
<div class="row">
    <div class="col-md-4 content">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            @*English*@
            @if (ViewBag.messageOverRate != null)
            {
                <div class="alert alert-danger border-danger">

                    @ViewBag.messageOverRate

                </div>
            }
            @if (ViewBag.Message != null)
            {<div class="alert alert-warning border-warning">@ViewBag.Message</div>
        }
            @if (ViewBag.AddSuccess != null)
            {

                <div class="alert alert-success border-success " role="alert">
                    @ViewBag.AddSuccess
                </div>
            }

            @if (ViewBag.Addfails != null)
            {

                <div class="alert alert-danger border-danger" role="alert" data-toggle="tooltip" data-placement="bottom" title="Because it was added before">

                    @ViewBag.Addfails
                </div>

            }
            @if (ViewBag.sameEdit != null)
            {

                <div class="alert alert-warning border-warning">
                    @ViewBag.sameEdit
                </div>
            }

            @*Arabic*@


            @*@if (ViewBag.MessageArabic != null)
        {
            <div class="alert alert-warning border-warning">@ViewBag.MessageArabic</div>
        }
        @if (ViewBag.AddSuccessArabic != null)
        {

            <div class="alert alert-success border-successArabic " role="alert">
                @ViewBag.AddSuccessArabic
            </div>
        }

        @if (ViewBag.AddfailsArabic != null)
        {

            <div class="alert alert-danger border-danger" role="alert" data-toggle="tooltip" data-placement="bottom" title="Because it was added before">

                @ViewBag.AddfailsArabic
            </div>

        }

                 @if (ViewBag.sameEditArabic != null)
            {

                <div class="alert alert-warning border-warning">
                    @ViewBag.sameEditArabic
                </div>
            }
            *@

            <div class="form-group">
                <label asp-for="statues_of_adm_eli_ID" class="control-label">@localizer["Type of admission eligibilty"]</label>
                <select asp-for="statues_of_adm_eli_ID" class="form-control" asp-items="@(new SelectList(Model.FK_statues_of_admission_eligibilty,"id","Type_of_admission_eligibilty"))">
                </select>
                <span asp-validation-for="statues_of_adm_eli_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="countryId" class="control-label">@localizer["Country"]</label>
                <select asp-for="countryId" class="form-control" asp-items="@(new SelectList(Model.FK_country,"id","country_name"))">
                </select>
                <span asp-validation-for="countryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label">@localizer["percentage"]</label>
                <input asp-for="Rate" class="form-control" data-toggle="tooltip" data-placement="bottom" title="As a percent" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@localizer["Create"]" class="btn btn-outline-primary" />
            </div>

            <div>
                <a asp-action="Index" class="btn btn-secondary">@localizer["Back to List"]</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
