@model IEnumerable<AdmissionSystem.Model.Persentage_count_for_each__country>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout_For_Admin_Dashboard.cshtml";
}

<h1 class=" text-center">percentage count for each country</h1>

<p>
    <a asp-action="Create" class="btn btn-primary ">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FK_statues_of_admission_eligibilty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FK_country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FK_statues_of_admission_eligibilty.Type_of_admission_eligibilty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FK_country.country_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-outline-dark">Edit</a>
                @*<a asp-action="Details" asp-route-id="@item.id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
