@model IEnumerable<AdmissionSystem.Model.Statues_of_admission_eligibilty>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type_of_admission_eligibilty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Begaining_date_of_the_process)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.semester_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.semester_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type_of_admission_eligibilty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Begaining_date_of_the_process)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semester_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semester_Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
