@model IEnumerable<AdmissionSystem.Model.Statues_of_admission_eligibilty>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout_For_Admin_Dashboard.cshtml";
}

<h1 class=" text-center">statues of admission elgibilty </h1>

<p>
    <a asp-action="Create"  class="btn btn-primary">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type_of_admission_eligibilty)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Begaining_date_of_the_process)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.semester_no)

            </th>
            <th>

                @Html.DisplayNameFor(model => model.semester_Date)

            </th>
            <th>

                @Html.DisplayNameFor(model => model.Number_Student)

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type_of_admission_eligibilty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Begaining_date_of_the_process)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semester_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semester_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number_Student)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-outline-dark">Edit</a>
                @*<a asp-action="Details" asp-route-id="@item.id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
