@model AdmissionSystem.Model.Faculty
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout_For_Admin_Dashboard.cshtml";
}

<h1 class="text-center">@localizer["Edit"]</h1>
<hr />



<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>

<div class="row">
    <div class="col-md-4 content">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*English*@
            @if (ViewBag.sameName != null)
            {
                <div class="alert alert-danger border-danger" role="alert">
                    @ViewBag.sameName
                </div>
            }
            @if (ViewBag.differentName != null)
            {
                <div class="alert alert-success border-success " role="alert">
                    @ViewBag.differentName
                </div>
            }
            @if (ViewBag.identical != null)
            {
                <div class="alert alert-warning border-warning" role="alert">
                    @ViewBag.identical
                </div>

            }


            @*Arabic*@
            @*@if (ViewBag.sameNameArabic != null)
        {
            <div class="alert alert-danger border-danger" role="alert">
                @ViewBag.sameNameArabic
            </div>
        }
        @if (ViewBag.differentNameArabic != null)
        {
            <div class="alert alert-success border-success " role="alert">
                @ViewBag.differentNameArabic
            </div>
        }
        @if (ViewBag.identicalArabic != null)
        {
            <div class="alert alert-warning border-warning" role="alert">
                @ViewBag.identicalArabic
            </div>

        }*@
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                @* <label asp-for="Faculty_name" class="control-label"></label>*@
                <h4>@localizer["Name faculty"]</h4>
                <input asp-for="Faculty_name" class="form-control" required="required" />
                <span asp-validation-for="Faculty_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@localizer["Save"]" class="btn btn-outline-primary" />
            </div>

            <div>
                <a asp-action="Index" class="btn btn-secondary">@localizer["Back to List"]</a>
            </div>
        </form>
     @*   <input type="hidden" asp-for="id" class="form-control" />*@

    </div>
</div>


@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
