@model AdmissionSystem.View_Model.AlgorithemViewModel

@{
    ViewData["Title"] = "AlgorithmUNSyrain";
    Layout = "~/Pages/Shared/_Layout_For_Admin_Dashboard.cshtml";
}

<h1>UNSyrain Admission eligibility</h1>

@*<h4>AlgorithemViewModel</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AlgorithmUNSyrain">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (ViewBag.message != null)
            {

                <div class="alert alert-danger border-danger">
                    @ViewBag.message


                </div>

            }
            <div class="form-group">
                <label asp-for="countryId" class="control-label"></label>
                <select asp-for="countryId" class="form-control"
                        asp-items="@(new SelectList(Model.CountryList,"id","country_name"))"></select>

                <span asp-validation-for="countryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control"
                        asp-items="@(new SelectList(Model.departmentList,"id","specialization_name"))" ></select>

                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="statusofAdmissionId" class="control-label"></label>
                <select asp-for="statusofAdmissionId" class="form-control"
                        asp-items="@(new SelectList(Model.statues_Of_Admission_Eligibiltieslist,"id","Type_of_admission_eligibilty")) "></select>
                @*onchange="this.form.submit()"*@
                <span asp-validation-for="statusofAdmissionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                  <input type="submit" value="Save" class="btn btn-primary" />
                <input type="submit" value="Export Excel sheet" class="btn btn-primary " formaction="ExcelsheetAdmissionUNSrian" />


            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@













<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <label class="control-label"> Student name </label>
            </th>
            <th>
                <label class="control-label">Accepted Wish</label>
            </th>
            <th>
                <label class="control-label">country</label>
            </th>
            <th>
                <label class="control-label"> Rate</label>
            </th>
            <th>
                <label class="control-label">Status of Admission elgibility</label>
            </th>
            <th>
                <label class="control-label">begining date of Admission</label>
            </th>
            <th>
                <label class="control-label">semester NO</label>
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.)
        </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Accinfo)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.studnet_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accepted_wish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cuntry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.The_rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status_of_Admission_elgibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.beganing_date_of_Admission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semester_NO)
            </td>

            <td>
            </td>
        </tr>
        }
    </tbody>
</table>













@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
