@model AdmissionSystem.Model.Country

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Delete Country</h1>


<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    
    <form asp-action="Delete">


        @*Englis*@
        @if (ViewBag.linkedDepartment != null)
        {
            <div class="alert alert-danger border-danger" role="alert">
                @ViewBag.linkedDepartment
            </div>
        }
        @if (ViewBag.freeDepartment != null)
        {
            <div class="alert alert-success border-success " role="alert">
                @ViewBag.freeDepartment
            </div>
        }
        @if (ViewBag.WasDeleted != null)
        {
            <div class="alert alert-warning border-warning " role="alert">
                @ViewBag.WasDeleted
            </div>
        }



        @*Arabic*@

        @*@if (ViewBag.linkedDepartmentArabic != null)
        {
            <div class="alert alert-danger border-danger" role="alert">
                @ViewBag.linkedDepartmentArabic
            </div>
        }
        @if (ViewBag.freeDepartmentArabic != null)
        {
            <div class="alert alert-success border-success " role="alert">
                @ViewBag.freeDepartmentArabic
            </div>
        }
        @if (ViewBag.WasDeletedArabic != null)
        {
            <div class="alert alert-warning border-warning " role="alert">
                @ViewBag.WasDeletedArabic
            </div>
        }*@



        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.country_name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.country_name)
            </dd>
        </dl>


        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
