@model AdmissionSystem.View_Model.Department_relation_type_view_model
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout_For_Admin_Dashboard.cshtml";
}

<h1 class=" text-center">@localizer["Create"]</h1>
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>
@*<h4>Department_relation_type_view_model</h4>*@
<hr />
<div class="row">
    <div class="col-md-4 content">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="id" class="control-label"></label>
            <input asp-for="id" class="form-control" />
            <span asp-validation-for="id" class="text-danger"></span>
        </div>*@




            @*English*@

            @if (ViewBag.messageOverRate != null)
            {
                <div class="alert alert-danger border-danger">

                    @ViewBag.messageOverRate

                </div>
            }

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-warning border-warning">@ViewBag.Message</div>
            }
            @if (ViewBag.AddSuccess != null)
            {

                <div class="alert alert-success border-success " role="alert">
                    @ViewBag.AddSuccess
                </div>
            }

            @if (ViewBag.Addfails != null)
            {

                <div class="alert alert-danger border-danger" role="alert" data-toggle="tooltip" data-placement="bottom" title="Because it was added before">

                    @ViewBag.Addfails
                </div>

            }
            @if (ViewBag.sameEdit != null)
            {

                <div class="alert alert-warning border-warning">
                    @ViewBag.sameEdit
                </div>
            }

            @*Arabic*@


            @*@if (ViewBag.MessageArabic != null)
        {
            <div class="alert alert-warning border-warning">@ViewBag.MessageArabic</div>
        }
        @if (ViewBag.AddSuccessArabic != null)
        {

            <div class="alert alert-success border-successArabic " role="alert">
                @ViewBag.AddSuccessArabic
            </div>
        }

        @if (ViewBag.AddfailsArabic != null)
        {

            <div class="alert alert-danger border-danger" role="alert" data-toggle="tooltip" data-placement="bottom" title="Because it was added before">

                @ViewBag.AddfailsArabic
            </div>

        }

                 @if (ViewBag.sameEditArabic != null)
            {

                <div class="alert alert-warning border-warning">
                    @ViewBag.sameEditArabic
                </div>
            }
            *@



            <div class="form-group">
                <label asp-for="Department_id" class="control-label">@localizer["Department"]</label>
                <select asp-for="Department_id" class="form-control" asp-items="@(new SelectList(Model.FK_Department,"id","specialization_name"))">
                </select>
                <span asp-validation-for="Department_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type_of_high_school_cirtificate_id" class="control-label">@localizer["Type of high school cirtificate"]</label>
                <select asp-for="Type_of_high_school_cirtificate_id" class="form-control" asp-items="@(new SelectList(Model.FK_type_Of_High_School_Cirtificate,"id","type"))">
                </select>
                <span asp-validation-for="Type_of_high_school_cirtificate_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Minemum_of_Rate" class="control-label">@localizer["Minemum of Rate"]</label>
                <input asp-for="Minemum_of_Rate" class="form-control" />
                <span asp-validation-for="Minemum_of_Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate_of_chaire_count" class="control-label">@localizer["Rate of chaire count"]</label>
                <input asp-for="Rate_of_chaire_count" class="form-control" />
                <span asp-validation-for="Rate_of_chaire_count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@localizer["Create"]" class="btn btn-outline-primary" />
            </div>

            <div>
                <a asp-action="Index" class="btn btn-secondary">@localizer["Back to List"]</a>
            </div>

        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
