@model IEnumerable<AdmissionSystem.Model.Department_relation_Type>

@{
    ViewData["Title"] = "Index";
}

<h1 class=" text-center">Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary ">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FK_DepartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FK_type_Of_High_School_CirtificateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Minemum_of_Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate_of_chaire_count)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FK_Department.specialization_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FK_type_Of_High_School_Cirtificate.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Minemum_of_Rate)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate_of_chaire_count)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-outline-dark">Edit</a>
                    @*<a asp-action="Details" asp-route-id="@item.id">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
