@model AdmissionSystem.View_Model.Broken_Relationshib_Stat_Dep_Chair_View_model

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create</h1>

@*<h4>Broken_Relationshib_Stat_Dep_Chair_View_model</h4>*@
<hr />
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>
<div class="row">
    <div class="col-md-4 content ">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            @*English*@
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-warning border-warning">@ViewBag.Message</div>
            }
            @if (ViewBag.AddSuccess != null)
            {

                <div class="alert alert-success border-success " role="alert">
                    @ViewBag.AddSuccess
                </div>
            }

            @if (ViewBag.Addfails != null)
            {

                <div class="alert alert-danger border-danger" role="alert" data-toggle="tooltip" data-placement="bottom" title="Because it was added before">

                    @ViewBag.Addfails
                </div>

            }
            @if (ViewBag.sameEdit != null)
            {

                <div class="alert alert-warning border-warning">
                    @ViewBag.sameEdit
                </div>
            }

            @*Arabic*@


            @*@if (ViewBag.MessageArabic != null)
        {
            <div class="alert alert-warning border-warning">@ViewBag.MessageArabic</div>
        }
        @if (ViewBag.AddSuccessArabic != null)
        {

            <div class="alert alert-success border-successArabic " role="alert">
                @ViewBag.AddSuccessArabic
            </div>
        }

        @if (ViewBag.AddfailsArabic != null)
        {

            <div class="alert alert-danger border-danger" role="alert" data-toggle="tooltip" data-placement="bottom" title="Because it was added before">

                @ViewBag.AddfailsArabic
            </div>

        }

                 @if (ViewBag.sameEditArabic != null)
            {

                <div class="alert alert-warning border-warning">
                    @ViewBag.sameEditArabic
                </div>
            }
            *@


            <div class="form-group">
                <label  class="control-label">Type of Admission </label>
                <select asp-for="status_of_admi_eligi_id" class="form-control" asp-items="@(new SelectList(Model.FK_statues_Of_Admission_Eligibilty,"id","Type_of_admission_eligibilty"))">
                </select>
                <span asp-validation-for="status_of_admi_eligi_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Department</label>
                <select asp-for="department_id" class="form-control" asp-items="@(new SelectList(Model.Fk_department,"id","specialization_name"))">
                </select>
                <span asp-validation-for="department_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Chair count</label>
                <input asp-for="Chair_count" class="form-control" />
                <span asp-validation-for="Chair_count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>

            <div>
                <a asp-action="Index" class="btn btn-secondary ">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
