
@page
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer


@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .ContainerRegForm {
    position: center;
   /*  width: 50%;
    height:50%;*/
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .4);
}

      
h1 {
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
h4 {
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
p {
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 42px;
    line-height: 62px;
}

h2 {
    font-size: 32px;
    line-height: 42px;
}

h3 {
    font-size: 22px;
    line-height: 38px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    font-weight: 300;
}

</style>
<link rel="stylesheet" href="~/aos/aos.css"/>



<div  data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500" class="ContainerRegForm" style="background-color:#316bab">
     <h1 class="display-4 text-warning text-center">@localizer["Welcome To UOK"]</h1>
     <p style="font-size:130%" class="text-light text-center">@localizer["Here you can addmit to the universty of Kalmoon Remotley"]</p>
        <img src="~/Desighn/lamp.gif" class="float-right" width="60%" />
   
   
    
    <br><br> <br><p style="font-size:150%" class="text-light">@localizer["if you are a new studet please start with us by clicking one of the buttoms here"]</p>
    <br><a class="btn btn-warning"  href="/Account/Index">@localizer["Register Student"]</a> <button class="btn btn-light" data-toggle="modal" data-target=".bd-example-modal-lg">@localizer["How to Make Account"]</button>
<br> <br> <br>   <br> <br><br>  <br><br> 

    
    
</div>
<br><br>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
         <div class="modal-header">
        <h4 class="modal-title text-center" id="exampleModalCenterTitle">@localizer["Make an account in the  Admission Sytem"]</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
       </div>
       <br>
 <div class="embed-responsive embed-responsive-21by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/upgcPPqj3Co">
    
</iframe>

</div>
<br><br>  <br><br>
    </div>
  </div>
</div>

    <script src="~/aos/aos.js"></script>
   
    <script>
      AOS.init({
      offset: 200,
      duration: 600,
      easing: 'ease-in-sine',
      delay: 100,
    });

</script>