@{ 

    Layout = "";
}


@using Microsoft.Extensions.Options
@using AdmissionSystem.Model.GoogleCaptcha
@inject IOptions<GoogleCaptchaConfig> GoogleRecaptchaconfig
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
<style>
    dl {
        width: 120%;
        overflow: hidden;
        /*background: #ff0;*/
        padding: 0;
        margin: 0
    }

    dt {
        float: left;
        width: 20%;
        /* adjust the width; make sure the total of both is 100% */
        /*background: #f00;*/
        padding: 0;
        margin: 0
    }

    dd {
        float: right;
        width: 80%;
        /* adjust the width; make sure the total of both is 100% */
        /*background: #dd0;*/
        padding: 0;
        margin: 0;
    }
    label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-family: Oxygen;
    font-size: 20px;
}
option{
    font-family: Oxygen;
    font-size: 16px;
     display: inline-block;
}

</style>


<html>

<head>
    
<link rel="stylesheet" href="~/aos/aos.css"/>
    <link href="~/loginLip/css/login_rigi.css" rel="stylesheet" />
    <script type="text/javascript" src="quform/js/scripts.js"></script>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js"></script>


</head>
<body>
    @*<h1>Login</h1>

        <h4>LoginViewModle</h4>

        <div class="row">
            <div class="col-md-4">*@




    <div id="advice">@localizer["Click on Sign Up button"]<i id="cross" class="fas fa-times"></i></div>
    <div id="container"  data-aos="fade-down">
        <div id="leftSide">
            <div class="title">@localizer["One of us?"]</div>
            <div class="text">@localizer["If you already have an account you can log in."]</div>
        </div>
        <div id="rightSide">
            <div class="title">@localizer["New here?"]</div>
            <div class="text">@localizer["You can create your own account right now!"]</div>
        </div>
        <div id="loginBlock">
            <partial name="Login" />
        </div>




        <div id="bar">
            <div id="mask">
                <div id="toggle" onclick="    scrollfunction();" ><div class="dot">.</div><div id="loginText" style="font-size:75%">@localizer["Log&nbsp;In"]</div><div id="signupText" >@localizer["Sign&nbsp;Up"]</div></div>
            </div>
        </div>




        <div id="signupBlock">
            <div id="signupContent" class="scrollingDiv">
                <partial name="Register_Student" />
            </div>
        </div>
    </div>

    @*</div>*@
    @*</div>*@

    <script>
        window.QuformRecaptchaLoaded = function () {
            if (window.grecaptcha && window.jQuery) {
                jQuery('.g-recaptcha').each(function () {
                    var $recaptcha = jQuery(this);

                    if ($recaptcha.is(':empty')) {
                        $recaptcha.data('recaptcha-id', grecaptcha.render($recaptcha[0]));
                    }
                });
            }
        };
    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=QuformRecaptchaLoaded&amp;render=explicit" async defer></script>
    <script src="~/loginLip/js/login_regi.js"></script>
<script src="~/aos/aos.js"></script>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    @*<script>
            const myForm = document.getElementById("loginForm");
            document.querySelector(".submit").addEventListener("click", function () {

                myForm.submit();

            });

        </script>*@
    @*<script>
            const myForm = document.getElementById("signupForm");
            document.querySelector(".submit").addEventListener("click", function () {

                myForm.submit();

            });

        </script>*@
<script>
function scrollfunction(){
     document.getElementById('signupContent').scrollTo({
  top: 100,
  behavior: 'smooth'
});
}
  AOS.init({
      offset: 200,
      duration: 600,
      easing: 'ease-in-sine',
      delay: 100,
    });

</script>
</body>

</html>
