@model AdmissionSystem.View_Model.Identity_view_model.RegisterViewModel
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Register_Employee";
    Layout = "~/Pages/Shared/_Layout_For_Admin_Dashboard.cshtml";
}
@using Microsoft.Extensions.Options
@using AdmissionSystem.Model.GoogleCaptcha
@inject IOptions<GoogleCaptchaConfig> GoogleRecaptchaconfig
<h1 class="text-center">@localizer["Register Employee"]</h1>

@*<h4>RegisterViewModel</h4>*@
<hr />
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>
<div class="row">
    <div class="col-md-4 content">
        <form asp-action="Register_Employee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (ViewBag.norecaptcha != null)
            {

                <div class="alert alert-danger">
                    @ViewBag.norecaptcha


                </div>
            }


            @if (ViewBag.message != null)
            {

                <div class="alert alert-danger border-danger" role="alert">

                    @ViewBag.message

                </div>
            }
            @if (ViewBag.errorinfo != null)
            {

                <div class="alert alert-danger border-danger" role="alert">

                    @ViewBag.errorinfo

                </div>
            }
            <div class="form-group">
                <label asp-for="UserName" class="control-label">@localizer["UserName"]</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nick_name" class="control-label">@localizer["last name"]</label>
                <input asp-for="Nick_name" class="form-control" />
                <span asp-validation-for="Nick_name" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="TheIDnumber" class="control-label">@localizer["National id number"]</label>
                <input asp-for="TheIDnumber" class="form-control" />
                <span asp-validation-for="TheIDnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone_Mobile" class="control-label">@localizer["Mobile phone"]</label>
                <input asp-for="phone_Mobile" class="form-control" />
                <span asp-validation-for="phone_Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="gender" class="control-label">@localizer["gender"]</label>


                <select asp-for="gender" class="form-control">
                    <option value="male">Male</option>
                    <option value="femal">Femal </option>

                </select>




                @*<div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label asp-for="gender" class="btn btn-outline-primary">
                        <input asp-for="gender" type="radio" name="gender" id="option1" value="male" autocomplete="off" spellcheck="true" class="radioRegi"> Male
                    </label>
                    <label asp-for="gender" class="btn btn-outline-primary">
                        <input asp-for="gender" type="radio" name="gender" id="option2" value="femal" autocomplete="off" class="radioRegi">Femal
                    </label>
                </div>*@

                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birth_Date" class="control-label">@localizer["Birth Date"]</label>
                <input asp-for="Birth_Date" class="form-control" type="date"
                       min="@DateTime.Now.AddYears(-100).ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(-15).ToString("yyyy-MM-dd")"  value="@DateTime.Now.AddYears(-15).ToString("yyyy-MM-dd")"/>
                @*value="@DateTime.Now.AddYears(-15)"*@

                <span asp-validation-for="Birth_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label">@localizer["Type"]</label>
                @*  <input asp-for="Type" class="form-control" />*@
                <select asp-for="Type" class="form-control">
                    <option value="Admin">Admin</option>
                    <option value="Employee">Employee </option>

                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">@localizer["Email"]</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">@localizer["Password"]</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">@localizer["Confirm Password"]</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            @*<div class="form-group">

            <div class="g-recaptcha" data-sitekey=" @GoogleRecaptchaconfig.Value.SiteKey"></div>


        </div>*@
            @*<div class="form-group">

            @if (ViewBag.captchMessage != null)
            {
                <div class=" text-danger">
                    @ViewBag.captchMessage
                </div>

            }
        </div>*@

            <div class="form-group">
                <input type="submit" value="@localizer["Create"]" class="btn btn-outline-primary" />
            </div>
            <div>
                <a asp-action="Index" class="btn btn-secondary">@localizer["Back to List"]</a>
            </div>
        </form>
    </div>
</div>

@*<script>
    window.QuformRecaptchaLoaded = function () {
        if (window.grecaptcha && window.jQuery) {
            jQuery('.g-recaptcha').each(function () {
                var $recaptcha = jQuery(this);

                if ($recaptcha.is(':empty')) {
                    $recaptcha.data('recaptcha-id', grecaptcha.render($recaptcha[0]));
                }
            });
        }
    };
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=QuformRecaptchaLoaded&amp;render=explicit" async defer></script>*@




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
